# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.env

# IDE-specific files
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints


# Output files
output/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.bak
*.swp

# API keys and sensitive information
config.ini
secrets.json

# Streamlit
.streamlit/

# LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.synctex.gz

# Large model files
*.pt
*.pth
*.h5

# Compiled Python files
*.pyc

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mkdocs documentation
/site

# mypy
.mypy_cache/